#kc-register-form {
    background-color: #f4f4f4;
    position: relative;
    width: 40%;
    min-width: 400px;
    left: 50%;
    text-align: center;
    line-height: 20px;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    vertical-align: center;
    transform: translate(-52%, 0);
    margin: -2%;
}

#kc-register-form h1 {
    font-size: 200%;
    font-weight: 500;
    word-spacing: 5px;
    line-height: 135%;
    color: #265077;
    padding-top: 5%;
}

#kc-register-form .input {
    position: relative;
    text-align: left;
    /*background-color: darkcyan;*/
    margin: 20px 20px;
    border-bottom: 2px solid darkgrey;
}

#kc-register-form div span {
    display: block;
}

#kc-register-form div h5 {
    position: absolute;
    font-size: 17px;
    color: gray;
}

#kc-register-form div input {
    width: 80%;
    line-height: 20px;
    background: transparent;
    border: none;
    outline: none;
	font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    color: rgb(99, 92, 92);
}

#sign-in-form h5 {
    line-height: 20px;
    color: gray;
    font-weight: lighter;
}

#sign-in-form h5 a {
    text-decoration: none;
    color: #265077;
    font-weight: bolder;
    word-spacing: 2px;
}

#sign-in-form h5 a:hover,
#sign-in-form h5 a:active {
    text-decoration: underline;
}

.desc3 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: left;
    padding: 2%;
    margin-left: 8%;
    color: #777;
    font-weight: bolder;
}

.selector {
    background-position: right 5px center;
    background-repeat: no-repeat;
    background-size: 14px;
    padding-right: 5%;
    font-size: 15px;
    height: 30px;
    width: 25%;
    color: #777;
    border: 1px solid #ccd0d5;
}

.select {
    margin-top: 0px;
    margin-right: 4px;
    border-radius: 4px;
    border-width: 1px;
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    color: #777;
    padding: 0 10px 0 3px;
}

#link {
    color: #265077;
    cursor: pointer;
    text-decoration: none;
}

#link:hover,
#link:active {
    text-decoration: underline;
}

.notes {
    color: #777;
    font-size: 14px;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.connect-socials {
    transform: translate(15%, 0);
}

.connect-btn {
    background-color: white;
    border-radius: 20px;
    width: 70%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    border: 1px solid #265077;
    transition: all .53s;
}

.connect-btn:hover {
    border-color: #022140;
    transform: scale(1.2);
}

.connect-btn a {
    color: #265077;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    font-size: 0.8rem;
    font-weight: bolder;
}
