* {
    color: #265077;
    color: #022140;
    color: #494b68;
    color: #1e4258;
    color: #2d5f5d;
    color: #e67e22;
    --header-color: hsl(203, 49%, 23%, 0.95);
    --text-color: #265077;
    --main-background: #F0F2EF;
    --hover-btn: #5a5a5a;
}