/*--------------------------------------------------*/
/*------------------DEFAULT SETUP-------------------*/
/*--------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    text-rendering: optimizeLegibility;

}

body {
    height: 100%;
    width: 100%;
    background-color: #F0F2EF;
}

section {
    padding-top: 8%;
}

.row {
    margin: 0 auto;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/*--------------------------------------------------*/
/*------------------HEADER--------------------------*/
/*--------------------------------------------------*/

header {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    height: 12vh;
    border-bottom: 0.5px solid gray;
    z-index: 10;
    background-color: hsl(203, 49%, 23%, 0.95);
}

.logo {
    /* width: 200px; */
    height: 90%;
    float: left;
    margin-top: 1%;
}

#left-header {
    flex: 1 0 350px;
    position: relative;
    display: flex;
}

#right-header {
    margin-top: -1%;
    flex: 0 0 auto;
    display: flex;
}

#nav-menu {
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding: 0 20px;
    margin-left: -35%
}

.menu-icons {
    position: relative;
    width: 70px;
    height: 50px;
    cursor: pointer;
    padding-right: 17%;
}

.menu-icons:hover div {
    color: #E99346;
}

.menu-icons:hover h6 {
    color: #E99346;
}

.material-icons {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 25px;
    color: #f4f4f4;
}

.menu-icons h6 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #f4f4f4;
    font-size: 70%;
}

.menu-icons img {
    display: block;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*--------------------------------------------------*/
/*------------------FOOTER--------------------------*/
/*--------------------------------------------------*/

footer {
    background-image: linear-gradient(45deg,
            rgba(2, 33, 64, 0.8) 55%,
            rgba(45, 95, 93, 0.85)),
        url(../images/background_footer.jpeg);
    background-size: cover;
    background-position: center;
    /* can giua */
    background-attachment: fixed;
    color: #c5bebe;
    padding-left: 8%;
    padding-bottom: 4%;
    font-size: 1.3rem;
}

.col-footer {
    line-height: 160%;
}

.col-footer p {
    font-size: larger;
}

.text-footer {
    list-style-type: none;
}

.text-footer a {
    color: #c5bebe;
    font-weight: lighter;
    text-decoration: none;
    font-size: 80%;
}

.text-footer a:hover,
.text-footer a:active {
    text-decoration: underline;
}

.information {
    list-style: none;
    line-height: 200%;
    word-spacing: 1px;
    font-size: 80%;
}

.information .small-icon {
    color: #94afc9;
    padding-right: 5px;
}

.information .small-icon:hover,
.information .small-icon:hover {
    transform: scale(1.3);
}

.social-icons {
    list-style: none;
}

.social-icons li {
    display: inline-block;
    font-size: 180%;
    color: #94afc9;
    margin-right: 15px;
    margin-top: 15px;
}

.social-icons li i {
    transition: all .3s;
    cursor: pointer;
}

.social-icons li:hover,
.social-icons li:active {
    transform: scale(1.3);
    color: #e67e22;
}


.btn-post {
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    background: linear-gradient(135deg,#1e4157f2 0%,#1597bb 100%);
    display: inline-block;
    text-align: center;
    transition: all 0.3s;
    font-weight: bold;
}

.btn-post:hover,
.btn-post:active {
    background: linear-gradient(135deg,#1597bb 0%,#94afc9 100%);
}

.modal {
    z-index: 10;
    background-color: #fff;
    position: fixed;
    top: 12%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 30%;
    max-width: 30%;
    transition: 200ms ease-in-out;
    transform: scale(0);
    padding: 10px 15px;
}

.modal-header {
    display: flex;
}

.modal-header .close-button {
    cursor: pointer;
    font-size: 2rem;
    color: hsl(203, 49%, 23%, 0.95);
    ;
    border: none;
    background: none;
    outline: none;
}

.modal-header .close-button i {
    font-size: 30px !important;
}

.modal .search-input {
    width: 87%;
    padding-left: 10px;
    padding-right: 40px;
    border-radius: 20px;
    border: 1px solid hsl(203, 49%, 23%, 0.95);
    outline: none;
    margin: 0 15px;
}

.modal .search-input:focus {
    border-radius: 20px;
    border: 2px solid #1597bb;
}

.modal-header i {
    cursor: pointer;
    font-size: 1.3rem;
    color: hsl(203, 49%, 23%, 0.95);
    ;
    border: none;
    margin-left: -18%;
    margin-top: 3%;
    background: none;
}

.modal-header i:hover {
    color: #1597bb;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
#overlay.active {
    opacity: 1;
    pointer-events: all;
  }

.active {
    transform: scale(1);
}