body{
    overflow: hidden;
}

.search__filter{
  margin-top: 70px;
  width: 100%;
  height: 60px;
  padding: 10px;
  background-color: white;
  display: flex;
  border-bottom: 0.5px solid rgb(180, 180, 180);
}

.search__filter div{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 18px;
  background-color: royalblue;
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


.search__filter input{
  display: block;
  border: 2px solid rgb(136, 136, 136);
  border-radius: 20px;
  outline: none;
  font-size: 20px;
  padding: 10px;
}

.main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}

.main__left{
    background-color: rgb(196, 221, 255);
    min-width: 400px;
    height: 80vh;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: scroll;
}

.main__right{
    height: 80vh;
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(211, 211, 211); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(172, 172, 172); 
  }

  #overlay__jobtype{
    display: none;
    position: fixed;
    left: 200px;
    border-radius: 8px;
    width: 300px;
    height: 180px;
    background-color: white;
    border: 1px solid black;
  }

  .overlay{
    display: block !important;
  }


  .overlay__jobtype__checkbox{
    margin: 10px;

  }

  .overlay__jobtype__checkbox input{
    margin: 10px;
  }

  .overlay__jobtype__checkbox div{
    text-align: center;
    margin-top: 10px;
  }

  .overlay__jobtype__checkbox button{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: royalblue;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
  }

  #overlay__createdat{
    display: none;
    position: fixed;
    left: 200px;
    border-radius: 8px;
    width: 300px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
  }

  .overlay__createdat__checkbox input{
    margin: 10px;
  }

  .overlay__createdat__checkbox div{
    text-align: center;
    margin-top: 10px;
  }

  .overlay__createdat__checkbox button{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: royalblue;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
  }

  #overlay__apply{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
  }

  #popup__apply{
    background-color: white;
    position: fixed;
    top: 130px;
    left:50%;
    transform: translateX(-50%);
    height: 450px;
    border: 1px solid black;
    width: 500px;
    border-radius: 8px;
    z-index: 10;  
  }

  .show__apply{
    display: block;
  }

  #popup__apply__header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
  }

  #popup__apply__header__close{
    padding: 2px 5px 2px 5px;
    border-radius: 50%;
  }

  #popup__apply__header__close:hover{
    background-color: rgb(177, 176, 176);
  }

  #popup__apply__header__text{
    font-size: 20px;
    font-weight: bold;
  }

  #popup__apply__form{
    position: relative;
    height: max-content;
    padding: 10px;
  }

  .contact__info__input{
    width: 460px;
    outline: none;
    height: 30px;
    font-size: 15dpx;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgb(206, 205, 205);
  }

  #cv{
    margin: 10px;
  }

  #popup__apply__form button{
    position: absolute;
    right: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: royalblue;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
  }

  #popup__apply__form__contactinfo__basic{
    display: flex;
    margin-bottom: 20px;
  }

  #popup__apply__form__contactinfo__basic img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }

  #form__contactinfo__basic__name{
    font-weight: bold; 
  }

  #form__contactinfo__basic__position{
    font-size: 12px;
  }

  #form__contactinfo__basic__location{
    font-size: 12px;
  }
