.container {
    background-color: #F0F2EF;
    margin: 0 auto;
    position: relative;
}

h5 {
    font-size: 0.9rem;
    font-weight: lighter;
    line-height: 30px;
    color: #777;
    padding-bottom: 10%;
    padding-top: 2px;
}

h1,
h3 {
    color: #1e4258;
}

h3 {
    font-weight: lighter;
}

.input {
    position: relative;
    text-align: left;
    border: 1px solid #ccd0d5;
    border-radius: 4px;
    width: 90%;
    height: 30px;
    line-height: 20px;
    margin-bottom: 2%;
    color: #777;
    padding: 10px;
    outline: none;
}

input:focus {
    border: 1px solid #265077;
}

.selector {
    background-position: right 5px center;
    background-repeat: no-repeat;
    background-size: 14px;
    padding-right: 5%;
    height: 30px;
    margin-bottom: 2%;
    width: 25%;
    color: #777;
    border: 1px solid #ccd0d5;
    border-radius: 4px;
    display: inline-block;
}

.gender {
    margin-bottom: 1%;
}

.select {
    margin-top: 0px;
    margin-right: 4px;
    border-radius: 4px;
    border-width: 1px;
    display: inline-block;
    line-height: 18px;
    color: #777;
    font-size: 15px;
    padding: 0 10px 0 3px;
}

.sidemenu {
    background-color: transparent;
    margin-left: 6%;
}

nav a {
    list-style: none;
    display: block;
    padding: 9%;
    color: #1e4258;
    transition: all .3;
}

nav a:hover,
nav a:active {
    transform: scale(1.1);
    cursor: pointer;
    color: #2d6187;
    background-color: #d8e3e7;
}

.tab-active {
    color: #2d6187;
    background-color: #d8e3e7;
    transform: scale(1.1);
}

.setting-title {
    margin-left: 10px;
}

.profile {
    background-color: white;
    padding-left: 5%;
    padding-top: 20px;
    line-height: 40px;
}

.avt-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-avatar {
    margin: 0 auto;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-avatar img {
    display: block;
    height: 80%;
    width: 80%;
    background-color: white;
    border: 1px solid #2d6187;
    border-radius: 50%;
    margin-bottom: 7%;
    object-fit: cover;
}

.tab-show {
    transition: all .5s ease-in;
    display: none;
}

.btn-add {
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    border-radius: 20px;
    background: linear-gradient(135deg, #1e4157f2 0%, #1597bb 100%);
    display: inline-block;
    text-align: center;
    transition: all 0.3s;
    font-weight: bold;
    margin-left: 20%;
    font-size: smaller;
}

.btn-add:hover,
.btn-add:active {
    background: linear-gradient(135deg, #1597bb 0%, #203949f2 100%);
}

.avt-modal {
    z-index: 10;
    background-color: #fff;
    position: fixed;
    top: 12%;
    left: 20%;
    transform: translate(-50%, -50%);

    transition: 200ms ease-in-out;
    transform: scale(0);
    padding: 15px 15px;
    height: 85%;
    width: 45%;
    left: 27%;
}

.avt-modal .wrapper {
    height: 65%;
    width: 100%;
    border-radius: 10px;
    border: 2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.wrapper .image {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wrapper .image img {
    border: 1px solid #265077;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.wrapper .icon {
    font-size: 100px;
    color: hsl(203, 49%, 23%, 0.95);
}

.wrapper .text {
    font-size: 20px;
    color: #265077;
    font-weight: 500;
}

#close-button {
    font-size: 20px;
    color: #1e4157f2;
    cursor: pointer;
    margin-bottom: 3%;
    margin-left: 96%;
}

.container #custom-btn,
.container .close-button,
.cancel-btn {
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    border-radius: 7px;
    margin-top: 3%;
    transition: all 0.3s;
}

.container #custom-btn {
    width: 100%;
    height: 10%;
    display: block;
    background: linear-gradient(135deg, #1e4157f2 0%, #1597bb 100%);
    font-weight: 500;
    color: #fff;
}

.container #custom-btn:hover,
.container #custom-btn:active {
    background: linear-gradient(135deg, #1597bb 0%, #265077 100%);
}

.container .close-button {
    width: 47%;
    height: 10%;
    background-color: #E8E9EB;
    color: #1e4157f2;
}

.cancel-btn {
    width: 47%;
    height: 10%;
    background-color: #E8E9EB;
    color: #1e4157f2;
    margin-right: 5%;
}

.container .close-button:hover,
.cancel-btn:hover,
.container .close-button:active .cancel-btn:active {
    background: linear-gradient(135deg, #1e4157f2 0%, #1597bb 100%);
    color: #fff
}

.btn-save,
.btn-cancel {
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 7px;
    width: 100px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    margin-top: 3%;
}

.btn-save {
    border-radius: 7px 0 0 7px;
    background: linear-gradient(135deg, #1e4157f2 0%, #1597bb 100%);
    font-weight: 500;
    color: #fff;
    margin-right: 0.5%;
}

.btn-cancel {
    border-radius: 0 7px 7px 0;
    margin-top: 3%;
    background: #ccd0d5;
    font-weight: 500;
    color: #1e4258;
}

.btn-save:hover,
.btn-save:active {
    background: linear-gradient(135deg, #1597bb 0%, #1e4157f2 100%);
    transform: scale(1.1);
}

.btn-cancel:hover,
.btn-cancel:active {
    background: linear-gradient(135deg, #1597bb 0%, #1e4157f2 100%);
    transform: scale(1.1);
    color: #fff;
}

/*-----------------TABLE STYLE --------------------*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 1170px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin-left: -5%;
    position: relative;
}

table * {
    position: relative;
}

table td,
table th {
    padding-left: 8px;
}

table thead tr {
    height: 60px;
    background: #1e4157f2;
}

table tbody tr {
    height: 50px;
}

table tbody tr:last-child {
    border: 0;
}

table td,
table th {
    text-align: left;
}

table td.l,
table th.l {
    text-align: right;
}

table td.c,
table th.c {
    text-align: center;
}

table td.r,
table th.r {
    text-align: center;
}


.table100-head th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    color: #1e4258;
    background-color: #d8e3e7;;
    cursor: pointer;
}

.column1, .column2, .column3, .column4, .column5{
    padding: 10px;
}

@media screen and (max-width: 992px) {
    table {
        display: block;
    }

    table>*,
    table tr,
    table td,
    table th {
        display: block;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        height: auto;
        padding: 37px 0;
    }

    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px;
    }

    table tbody tr td:last-child {
        margin-bottom: 0;
    }

    table tbody tr td:before {
        font-size: 14px;
        color: #999999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0;
    }

    table tbody tr td:nth-child(1):before {
        content: "IP";
    }

    table tbody tr td:nth-child(2):before {
        content: "Started";
    }

    table tbody tr td:nth-child(3):before {
        content: "Last Access";
    }

    table tbody tr td:nth-child(4):before {
        content: "Expires";
    }

    table tbody tr td:nth-child(5):before {
        content: "Clients";
    }

    .column4,
    .column5,
    .column6 {
        text-align: left;
    }
    .column4,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3 {
        width: 100%;
    }
    tbody tr {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*-------------------------------------------------*/