
.left-col {
    background-color: #fff;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
    margin-top: 7.5%;
    margin-bottom: 2%;
    margin-left: 2%;
    float: left;
    height: 500px;
    width: 35%;
    color: #022140;
    font-size: 1.2rem;
    /* height: 100%; */
}

.right-col {
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
    margin-top: 7.5%;
    margin-bottom: 2%;
    margin-right: 2%;
    float: left;
    width: 61%;
    color: #022140;
    font-size: 1.2rem;
    border-left: 1px solid #BBBCB6;
    height: 500px;
}

.users,
.users-list {
    padding: 10px 30px;
}

.content {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
}

 img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 2%;
}

.details p {
    font-size: 12px;
    color: #777;
}
.search {
    margin-top: 5%;
}

.search input {
    /* position: absolute; */
    height: 35px;
    width: 85%;
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #777;
}

input:focus,
.typing-area input:focus {
    border: 1px solid #265077;
}

.search button {
    width: 11%;
    height: 35px;
    border: none;
    outline: none;
    color: #fff;
    background-color: hsl(203, 49%, 23%, 0.95);;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
}
.users-list {
    margin-right: 3%;
    border: none;
    max-height: 350px;
    overflow-y: auto;
}

.users-list a {
    text-decoration: none;
    color: #272c30;
    font-size: 1rem;
    page-break-after: 10px;
}

.users-list .content {
    border-bottom-color: #f1f1f1;
    padding-top: 3%;
}

.users-list .content:hover {
    background-color: #E8E9EB;
}

.users-list a p {
    font-size: 0.8rem;
}

.users-list img {
    height: 40px;
    width: 40px;
}

.status-dot {
    margin-left: -5%;
    margin-bottom: -8%;
    margin-right: 5%;
    color: #468669;
    font-size: 0.6rem;
   
}

.offline {
    color: rgb(150, 149, 149);
}

/* Chat Area Style Css */

.chat-box {
    overflow-y: auto;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
                inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
    height: 365px;
    background-color: #f7f7f7;
}

.outgoing {
    display: flex;
    margin: 10px 0px;
}

.incoming {
    display: flex;
    margin: 10px 0px;
    align-items: center;
}

.chat p {
    padding: 8px 16px;
    word-wrap: break-word;
    word-spacing: 1px;
}

.outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px); 
}

.incoming .details {
    margin-right: auto;
    max-width: calc(100% - 130px);
    
}

.outgoing p {
    background-color: hsl(203, 49%, 23%, 0.95);
    color: #fff;
    border-radius: 12px 12px 0 12px;
}

.incoming img {
    height: 25px;
    width: 25px;
}

.incoming p {
    background-color: #fff;
    color: #022140;
    border-radius: 12px 12px 12px 0;
}

.typing-area {
    padding-top: 1%;
    display: flex;
}

.typing-area input {
    height: 45px;
    width: 92%;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button {
    width: 8%;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    background-color: hsl(203, 49%, 23%, 0.95);
}
