/*--------------------------------------------------*/
/*------------------DEFAULT SETUP-------------------*/
/*--------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-family: "Lato", sans-serif;
    text-rendering: optimizeLegibility;
}

body {
    height: 100%;
    width: 100%;
}

section {
    padding-top: 8%;
}

.row {
    /* max-width: 1140px; */
    margin: 0 auto;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/*--------------------------------------------------*/
/*------------------HEADER--------------------------*/
/*--------------------------------------------------*/

header {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    height: 12vh;
    border-bottom: 0.5px solid gray;
    z-index: 10;
    background-color: hsl(203, 49%, 23%, 0.95);
}

.logo {
    width: 180px;
    float: left;
    margin-top: 5%;
}

#left-header {
    flex: 1 0 350px;
    position: relative;
    display: flex;
    margin-left: 2%;
}

#right-header {
    margin-top: -1%;
    flex: 0 0 auto;
    display: flex;
    margin-left: -2%;
}

#nav-menu {
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding: 0 20px;
}


#search-div {
    float: right;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
    display: flex;
    width: 300px;
    background-color: #f4f4f4;
}

#search-div img {
    display: block;
    height: 20px;
    width: 20px;
    margin: 8px;
}

#search-div input {
    display: block;
    border: none;
    outline: none;
    width: 80%;
    font-size: 14pt;
    background-color: #f4f4f4;
}

.menu-icons {
    position: relative;
    width: 70px;
    height: 50px;
}

.material-icons {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 25px;
    color: #f4f4f4;
}

.menu-icons h6 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #f4f4f4;
    font-size: 70%;
}

.menu-icons img {
    display: block;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#personal-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    width: 160px;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-top: 50px;
    left: 10%;
    transform: translateX(-50%);
}

#personal-icon:hover #personal-dropdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#small-avatar {
    flex: 0 0 auto;
    position: relative;
    height: 50px;
    width: 30%;
    background-color: white;
}

#small-avatar img {
    position: absolute;
    top: 50%;
    background-color: white;
    border: 0.5px solid gray;
    border-radius: 50%;
}

#short-info {
    flex: 0 0 auto;
    height: 50px;
    width: 70%;
    background-color: white;
}

#view-profile-btn {
    height: 30px;
    width: 100%;
    background-color: white;
    text-align: center;
    position: relative;
}

#view-profile-btn a {
    display: block;
    position: absolute;
    text-decoration: none;
    color: black;
    border: 0.1px solid black;
    border-radius: 10px;
    width: 70%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#view-profile-btn a:hover {
    background-color: rgb(190, 190, 190);
}

/*--------------------------------------------------*/
/*------------------FOOTER--------------------------*/
/*--------------------------------------------------*/

footer {
    background-image: linear-gradient(45deg,
            rgba(2, 33, 64, 0.8) 55%,
            rgba(45, 95, 93, 0.85)),
        url(../images/background_footer.jpeg);
    background-size: cover;
    background-position: center;
    /* can giua */
    background-attachment: fixed;
    color: #c5bebe;
    padding-left: 8%;
    padding-bottom: 4%;
    font-size: 1.3rem;
}

.col-footer {
    line-height: 160%;
}

.col-footer p {
    font-size: larger;
}

.text-footer {
    list-style-type: none;
}

.text-footer a {
    color: #c5bebe;
    font-weight: lighter;
    text-decoration: none;
    font-size: 80%;
}

.text-footer a:hover,
.text-footer a:active {
    text-decoration: underline;
}

.information {
    list-style: none;
    line-height: 200%;
    word-spacing: 1px;
    font-size: 80%;
}

.information .small-icon {
    color: #94afc9;
    padding-right: 5px;
}

.information .small-icon:hover,
.information .small-icon:hover {
    transform: scale(1.3);
}

.social-icons {
    list-style: none;
}

.social-icons li {
    display: inline-block;
    font-size: 180%;
    color: #94afc9;
    margin-right: 15px;
    margin-top: 15px;
}

.social-icons li i {
    transition: all .3s;
    cursor: pointer;
}

.social-icons li:hover,
.social-icons li:active {
    transform: scale(1.3);
    color: #e67e22;
}


.btn-post {
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: hsl(203, 49%, 23%, 0.95);
    display: inline-block;
    text-align: center;
    transition: all 0.3s;
    font-weight: bold;
}

.btn-post:hover,
.btn-post:active {
    background-color: #1597bb;
}